@page "/profile"
@rendermode InteractiveServer

<PageTitle>Profile</PageTitle>

<h1>Profile</h1>

<p> This is your profile </p>
<p> * Reviews </p>
<p> * Watchlist </p>
<p> * Watched </p>

@code {
    
}
